environment:
  matrix:
    - nodejs_version: "6"
    - nodejs_version: ""

branches:
  only:
    - master

# Fix line endings in Windows. (runs before repo cloning)
init:
  - git config --global core.autocrlf true

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  - npm config set spin false
  - ps: >-
      if ($env:nodejs_version -eq "6") {
        npm install -g npm@5
        [Environment]::SetEnvironmentVariable("NODE_LTS", "true", "User")
      }
  - RefreshEnv
  - where npx
  # don't accidentally use the global npx
  - ps: rm "C:\Program Files (x86)\nodejs\npx*"
  - ps: rm C:\Users\appveyor\AppData\Roaming\npm\npx*
  # test that we can't find it
  - ps: if (gcm npx) { exit }
  - npm install

# Post-install test scripts.
test_script:
  - node --version
  - npm --version
  - npm run test:both

# http://help.appveyor.com/discussions/questions/1310-delete-cache
cache:
  - node_modules -> package.json

# Don't actually build.
build: off
