environment:
  matrix:
    # node 12.18 has a regression
    # npm ERR! cb.apply is not a function
    # - nodejs_version: "12"
    - nodejs_version: "12.17"
  DEBUG: "ember-cli-update,boilerplate-update,git-diff-apply"

branches:
  only:
    - master

# Fix line endings in Windows. (runs before repo cloning)
init:
  - git config --global core.autocrlf true

# Install scripts. (runs after repo cloning)
install:
  - ps: Install-Product node $env:nodejs_version
  # for test cache hits
  - npm i -g ember-cli@2.11.1
  - ps: >-
      [Environment]::SetEnvironmentVariable("NODE_LTS", "true", "User")
  - RefreshEnv
  - where npx
  # don't accidentally use the global npx
  - ps: rm "C:\Program Files (x86)\nodejs\npx*"
  - ps: rm C:\Users\appveyor\AppData\Roaming\npm\npx*
  # test that we can't find it
  - ps: if (gcm npx) { exit }
  - npm ci

# Post-install test scripts.
test_script:
  - node --version
  - npm --version
  - npm run test:bin
  - npm run test:command

# http://help.appveyor.com/discussions/questions/1310-delete-cache
cache:
  - node_modules -> package.json

# Don't actually build.
build: off
