name: CI

on:
  push:
    branches:
    - master
  pull_request:
  schedule:
  # nightly
  - cron: '0 0 * * *'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2

    - run: npm ci
    - run: npm run lint

  test:
    needs: lint

    strategy:
      matrix:
        os:
        - ubuntu-latest
        - macos-latest
        node:
        - 10
        - '*'
        test-command:
        - test:bin
        - test:command
        - test:fast
        exclude:
        - os: macos-latest
          node: '*'
        - os: macos-latest
          node: 10
          test-command: test:fast

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: ${{ matrix.node }}

    # for test cache hits
    - run: npm i -g ember-cli@2.11.1

    - run: npm ci
    - run: npm run ${{ matrix.test-command }} -- --retries 1
      timeout-minutes: 15
      env:
        NODE_LTS: ${{ matrix.node != '*' }}
        DEBUG: ember-cli-update,boilerplate-update,git-diff-apply

  ember-cli-update:
    needs: test
    if: github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name == github.repository

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.head_ref }}
        token: ${{ secrets.GitHubToken }}
    - uses: actions/setup-node@v2
    - uses: kellyselden/ember-cli-update-action@v3
      with:
        autofix_command: npm run lint -- --fix
        ignore_to: true
